node_modules
.idea
npm-debug.log
dev.db
coverage/
web/lib/backbone/
web/lib/jquery.cookie/
web/lib/jquery/
web/lib/mustache/
web/lib/requirejs/
web/lib/underscore/
web/lib/text/
.grunt
_SpecRunner.html