<div class="pure-table">
    <form class="createAccount pure-form pure-form-stacked">
        <div>
            <label for="fld_name">Name</label>
            <div class="controls">
                <input type="text" id="fld_name" placeholder="Your Name" name="name">
            </div>
        </div>


        <div>
            <label for="fld_password">Password</label>
            <div class="controls">
                <input type="text" id="fld_password" placeholder="secret password" name="password">
            </div>
        </div>

        <label for="fld_email">Email</label>
        <div class="controls">
            <input type="text" id="fld_email" placeholder="somebody@something.com" name="email">
        </div>

        <div>
            <div class="controls">
                <button type="submit" id="createAccount" class="pure-button pure-button-primary" value="Submit">Create Account</button>
            </div>
        </div>

    </form>
</div>