
<form class="createAccount">
    <label for="fld_email">Email</label>
    <div class="controls">
        <input type="text" id="fld_email" placeholder="somebody@something.com" name="email">
    </div>

    <div>
        <label for="fld_password">Password</label>
        <div class="controls">
            <input type="text" id="fld_password" placeholder="secret password" name="password">
        </div>
    </div>

    <div>
        <label for="fld_name">Name</label>
        <div class="controls">
            <input type="text" id="fld_name" placeholder="Your Name" name="name">
        </div>
    </div>

    <div>
        <label for="fld_phoneNumber">Phone Number</label>
        <div class="controls">
            <input type="text" id="fld_phoneNumber" placeholder="555-123456" name="phoneNumber">
        </div>
    </div>

    <div>
        <div class="controls">
            <button type="submit" id="createAccount" value="Submit">Create Account</button>
        </div>
    </div>

</form>