<form class="loginForm">
    <div>
        <label>User</label>
        <div class="controls">
            <input type='text' id="username" name='username' placeholder="Username"></td>
        </div>
    </div>

    <div>
        <label>Password</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
    </div>

    <div>
        <div class="controls">
            <button type="submit" name="submit" id="login">Sign in</button>
        </div>
    </div>

</form>
