<div class="pure-table">
    <form class="riceCreate pure-form pure-form-stacked">
        <div>
            <label>Name</label>
            <input type="text" placeholder="Rice Name" name="name">
        </div>


        <div>
            <label>Type</label>
            <input type="text"  placeholder="Chinese Rice" name="type">
        </div>

        <div>
            <label>price</label>
            <input type="text" placeholder="12.5" name="price">
        </div>

        <div>
            <label>quantity</label>
            <input type="text" placeholder="100" name="quantity">
        </div>

        <div>
            <label>description</label>
            <input type="text" placeholder="this is a description" name="description">
        </div>

        <div>
            <div class="controls">
                <button type="submit" id="createRice" class="pure-button pure-button-primary" value="Submit">Create Rice</button>
            </div>
        </div>

    </form>
</div>

<table class="pure-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Type</th>
        <th>Quantity</th>
    </tr>
    </thead>

    {{#.}}
    <tbody>
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{description}}</td>
        <td>{{type}}</td>
        <td>{{quantity}}</td>
    </tr>
    </tbody>
    {{/.}}
</table>